body {
    background: #fff;
    line-height: 2.0em;
}

.navbar-brand {
    & img {
        max-width: 100px;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

blockquote {
    font-size: 20px;
    color: #526069;
    border-left-width: 2px;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;

    &:hover {
        -webkit-transform: translateY(-0.3333333333rem);
        transform: translateY(-0.3333333333rem);
        box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
    }
}

.btn {

    &.line,
    &.phone,
    &.messenger,
    &.facebook,
    &.pro {
        color: white;
        border-radius: 8px;
        width: 75%;
        text-transform: none;

        img {
            width: 20px;
            float: left;
        }

        & span {
            float: left;
            margin-left: 10px;
        }
    }

    &.line {
        background: #19c12a;
    }

    &.phone {
        background: #a0db13;
    }

    &.messenger {
        background: #1aadbe;
    }

    &.facebook {
        background: #25579f;
    }

    &.pro {
        width: 90%;
        background: #e5001a;
        padding: 15px 15px;
    }
}

.contact-box {
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    &.price {
        color: #707077;

        &.discount:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 96px;
            right: 0;
            height: 0.5em;
            border-top: 3px solid #707077;
            z-index: 1;
            top: 65px;
            width: 153px;
            -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
        }
    }
}

h5.discount {
    color: red;
}

iframe {
    width: 100%;
}

p.category {
    margin-bottom: 0px;
}

.post_date,
.read {
    opacity: 0.5;
}

.navbar.navbar-dark .navbar-toggler-icon {
    background-image: unset;
}

span.hamberger {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.top-post-area .top-post-left .feature-image-thumb .overlay-bg,
.top-post-area .top-post-right .single-top-post .feature-image-thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.1);
}

.container.detail {
    background-color: white;
}

@media (max-width: 575px) {
    .main-menu {
        margin: 0px;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto,
    .top-post-area {
        padding-right: 8px;
        padding-left: 8px;
    }

    .popular-post-wrap,
    .sidebars-area {
        padding-right: 8px;
        padding-left: 8px;
    }
}

//max-width: 575px

.excert {
    font-size: 14px;
    height: 100px;
    line-height: 1.5;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    -o-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #000;
}

.top-post-area .top-post-left .top-post-details {
    position: absolute;
    bottom: 30px;
    left: 40px;
    padding: 0 20px 10px;
    background: #ff0000a1;
    border-radius: 8px;
    width: 90%;
}

.top-post-area .top-post-right .single-top-post .top-post-details {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: #fd00008a;
    padding: 0 10px 5px;
    border-radius: 8px;
}

.latest-post-area .latest-post-wrap .single-latest-post .excert {
    color: #000;
}

.newsletter-widget .form-control {
    color: #000;
}

.feature-img .overlay-bg {
    background: unset !important;
}
