.hamburger{
    padding: 15px 30px 40px 20px;
    &.is-active{
        & svg{
            &:nth-child(2){
                display: none;
            }
            &:nth-child(1){
                display: block;
            }
        }
    }
    & svg{
       &:nth-child(1){
        display: none;
       }
       &:nth-child(2){
        display: block;
       }
    }
}
svg:hover path {
    cursor: pointer;
    fill: $main-color1;
  }
